<!DOCTYPE html>
<html ng-app="lol" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--    The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags-->
  <meta name="description" content="">
  <meta name="author" content="">
  <link data-require="bootstrap@*" data-semver="4.0.0-alpha.2" rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" />
  <script data-require="bootstrap@*" data-semver="4.0.0-alpha.2" src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
  <script data-require="angular.js@*" data-semver="1.5.8" src="https://code.angularjs.org/1.5.8/angular.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>
  <script src="github.js"></script>
</head>

<body>
  <div class="contaner">

    <div class="container">

      <div class="container">
        <h1 class="jumbotron">Hallo, Big Boss!</h1>
        <div ng-controller='PersonaSearchController as person'>
          <p>Looking for someone on Github?</p>
          <div ng-show="person.error">
            <p>{{ person.error }}</p>
          </div>
          <form name="search" ng-submit="person.search()">
            <input type="search" required value="museyoucoulduse" ng-model="person.username" />
            <input type="submit" value="Search for user" class='btn btn-large btn-primary' />
          </form>
        </div>


        <div class="container" ng-controller="PersonasShowController as showPersons">
          <div ng-repeat="persona in showPersons.personas">
            <div class="row">
              <div class="col-xs-3">
                <img heigth="80" width="80" ng-src="{{ persona.avatar_url }}" title="{{ persona.login }}" id="personaData" />
              </div>
              <div class="col-xs-5">
                <h4>Name</h4>
                <p>{{ persona.name }}</p>
                <h4>Blog</h4>
                <p><a href="{{ persona.blog }}">{{ persona.blog }}</a></p>
                <h4>Email</h4>
                <p><a href="{{ persona.email }}">{{ persona.email }}</a></p>
                <h4>Location</h4>
                <p>{{ persona.location }}</p>
              </div>
              <div ng-show="persona.hireable" class="4" ng-mouseover="class='btn-lage'">
                <!--      //change proprties of button :)-->
                <buttton type="button" class="btn btn-primary">Hire Me!</buttton>
              </div>
            </div>
            <div class="row">
              <p class="col-xs-12">...</p>
            </div>
            <div class="row">
              <div class="col-xs-3">
                <h4>Bio:</h4>
                <p>{{ persona.bio }}</p>
              </div>
              <div class="col-xs-9">
                <p>
                  Order
                  <select ng-model="repoSortOrder">
                    <option value='+name'>By name</option>
                    <option value='-stargazers_count'>By stars</option>
                    <option value='+language'>By code language</option>
                    <option value='+fork'>Is forked?</option>
                  </select>
                </p>
                <table class="table-striped">
                  <thead>
                    <tr>
                      <th>
                        Name
                      </th>
                      <th>
                        Stars
                      </th>
                      <th>
                        Forked?
                      </th>
                      <th>
                        Language
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
                      <td ng-click="description(repo)">
                        {{ repo.name }}
                      </td>
                      <td>
                        {{ repo.stargazers_count | number }}
                      </td>
                      <td>
                        {{ repo.fork }}
                      </td>
                      <td>
                        {{ repo.language }}
                      </td>
                    </tr>
                    <tr ng-show="changer">
                      <td>{{ description }}</td>
                    </tr>
                  </tbody>
                </table>
                <button type="button" class="btn btn-large btn-danger" ng-click="showPersonas.removePersona($index)">Remove Persona</button>
              </div>
            </div>
          </div>
        </div>





      </div>
    </div>
  </div>
</body>

</html>
