<div>
  <div>
    <p>Github user <strong>{{ login }}</strong> from {{ data.created_at }}, last active: {{ data.updated_at }}</p>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <img heigth="80" width="80" ng-src="{{ data.avatar_url }}" title="{{ data.login }}" />
    </div>
    <div class="col-xs-5">
      <h4>Name:</h4>
      <p>{{ data.name }}</p>
    </div>
    <div ng-show="data.hireable" class="4" ng-mouseover="class='btn-lage'">
      <!--      //change proprties of button :)-->
      <buttton type="button" class="btn btn-primary">Hire Me!</buttton>
    </div>
  </div>
  <div class="row">
    <p class="col-xs-12">...</p>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <h4>Bio:</h4>
      <p>{{ data.bio }}</p>
    </div>
    <div class="col-xs-9">
      <p>
        Order
        <select ng-model="repoSortOrder">
          <option value='+name'>By name</option>
          <option value='-stargazers_count'>By stars</option>
          <option value='+language'>By code language</option>
          <option value='+fork'>Is forked?</option>
        </select>
      </p>
      <table class="table-striped">
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              Stars
            </th>
            <th>
              Forked?
            </th>
            <th>
              Language
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
            <td ng-click="description(repo)">
              {{ repo.name }}
            </td>
            <td>
              {{ repo.stargazers_count | number }}
            </td>
            <td>
              {{ repo.fork }}
            </td>
            <td>
              {{ repo.language }}
            </td>
          </tr>
          <tr ng-show="changer">
            <td>{{ description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>