hr {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #626; /* old IE */
    background-color: #626; /* Modern Browsers */
}
.jumbotron {
  background-color: #626;
  color: #FFF;
  
}

.danger  {
color: yellow;
  }
.alert {
color: red;
  }
.success {
color: limegreen;
  }
.jumbotron p {
    color: #368;
  }
.container-fluid {
  background-color: #FA4;
}
.footer {
    height: 30px; /* .push must be the same height as .footer */
  text-align: center;
}