extends layout.pug

block title
  title Github Personas
  
block header
  .jumbotron
    h2 Hey, Big Boss!
    h4 Looking for someone on Github?
  div(ng-controller='PersonaSearchController as person')
  
    div.alert.alert-danger(role="alert", ng-if="person.error")
      p {{person.error}}
      
    .well.well-lg
      form(name="search", ng-submit="person.search()")
        div(class="input-group")
          span(class="input-group-addon", id="basic-addon1") @
          input(type="text", aria-describedby="basic-addon1", class="form-control", required, value="museyoucoulduse", ng-model="person.username")
          span(class="input-group-addon", id="basic-addon1")
            i(class="fa fa-search" aria-hidden="true")
        input(type="submit", value="Search for Github user", class='btn btn-large btn-primary fa fa-search' id="search")
      
    hr.col-xs-12
    
    include persona.pug
  
