- var d = new Date();
doctype html
html(ng-app='lol' lang='en')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--     bower:css-->
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../../bower_components/mocha/mocha.css" />
    <!--     endbower-->
        //- inject:css
        link(rel="stylesheet", href="/css/style.css")
        //- endinject
    <!--     bower:js-->
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/tether/dist/js/tether.js"></script>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../bower_components/expect.js/index.js"></script>
    <script src="../../bower_components/mocha/mocha.js"></script>
    <!--     endbower-->
    //- inject:js
    script(src="/js/script.js")
    //- endinject
    
block title
  title Lots of Lulz
body

  .container-fluid
    block header
  
  .container-fluid
    footer.footer 
      .contianer-fluid
        span.text-muted Copyrights &copy; Szymon Blasczynski #{d.getFullYear()}
  
                             
