//- persona.pug

.container(ng-controller='PersonasShowController as showPersons')
  div(ng-repeat='persona in showPersons.personas')
    hr
    .div(id='{{ persona.data.login }}')
      .row
        .col-xs-3
          img.thumbnail#personaData(heigth='100', width='100', ng-src='{{ persona.data.avatar_url }}', title='{{ persona.login }}')
          br
          br
          div(ng-show='persona.data.hireable')
            // //change proprties of button :)
            buttton.btn.btn-success(type='button' ng-click="showPersons.email()") Hire Me!              
        .col-xs-5
          h5 Name              
          p {{ persona.data.name }}
          .org(ng-if="persona.data.company")
            h5 Organization &nbsp;
              i(class="fa fa-institution fa-x2") 
            p {{ persona.data.company}}
          .freelancer(ng-if="persona.data.company == null")
            p Freelancer &nbsp;
              i(class="fa fa-taxi fa-x2") 
          .website(ng-if="!(persona.data.blog == null)")
            h5 Website &nbsp;
              i(class="fa fa-space-shuttle fa-x2") 
            p
              a(href='http://{{ persona.data.blog }}') {{ persona.data.blog }}
          .email(ng-if="showPersons.clicked")
            h5 Email &nbsp;
              i(class="fa fa-envelope fa-x2")            
            p
              a(href='mailto:{{ persona.data.email }}') {{ persona.data.email }}
          .location(ng-if="!(persona.data.location == null)")
            h5 Location  
              i(class="fa fa-home fa-x2")          
            p {{ persona.data.location }}
          h5 Github &nbsp;
            i(class="fa fa-github fa-x2")
          p 
            a(href="{{ persona.data.html_url }}") {{ persona.data.html_url }}
              
      .row
        hr.col-xs-6
      .row
        .col-xs-3(ng-if="!(persona.data.bio == null)")
          h4 Bio:              
          p {{ persona.data.bio }}         
        .col-xs-9
          button(class="btn btn-sx", type="button", data-toggle="collapse", data-target="#{{persona.data.login}}-repos", aria-expanded="false", aria-controls="{{persona.data.login}}-repos")
            i(class="fa fa-info-circle fa-x2", aria-hidden="true") &nbsp; Repositories
          br
          br
          div.collapse(id='{{persona.data.login}}-repos')
            .well
              p Order by &nbsp;
                select(ng-model='repoSortOrder')
                  option(value='+name') By name
                  option(value='-stargazers_count') By stars
                  option(value='+language') By code language
                  option(value='+fork') Is forked?        
              table.table-striped
                thead
                  tr
                    th Name                    
                    th Language
                    th Forked?                    
                    th Stars
                tbody
                  tr(ng-repeat='repo in persona.repos | orderBy:repoSortOrder')
                    td
                      button(class="btn btn-sx", type="button", data-toggle="collapse", data-target="#{{repo.name}}", aria-expanded="false", aria-controls="{{repo.name}}")
                        i(class="fa fa-inbox fa-x2", aria-hidden="true") &nbsp;
                      a(href="{{repo.html_url}}") {{ repo.name }}
                      div.collapse(id='{{repo.name}}')
                        .well {{ repo.description }}
                    td {{ repo.language }}
                    td {{ repo.fork }}
                    td {{ repo.stargazers_count | number }}
        button.btn.btn-large.btn-danger(type='button', ng-click='showPersons.removePersona($index)') Remove Persona &nbsp;
          i(class=" fa fa-remove fa-x2")
.container
  hr.col-xs-11
